*, figure {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
select {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-input-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

::-ms-input-placeholder {
  color: #000000;
}

::placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

::-ms-input-placeholder {
  color: #000000;
}

a,
a:hover,
a:focus,
button,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #000000;
  line-height: 1.3;
  font-weight: 400;
  overflow-x: hidden;
}

.mr-tp50 {
  margin-top: 5rem;
}

select,
input[type="text"],
textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

p {
  font-size: 1.4rem;
}

p big {
  font-size: 2.1rem;
  font-weight: 600;
}

section {
  padding: 5rem 0;
}

section.graybg {
  background: #d0d3d6;
}

.nav-overlay {
  position: absolute;
  top: 9.6rem;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

.nav-overlay.show {
  display: inline-block;
}

header {
  padding: 2.25rem 0;
  height: 96px;
}

header .navbar {
  padding: 0;
}

header .navbar-brand {
  padding: 0;
}

header .navbar-nav {
  display: block;
  width: 100%;
}

header .navbar-nav .nav-item {
  margin: 0 1rem;
  display: inline-block;
}

header .navbar-nav .nav-item .nav-link {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000000;
  padding: 0;
  position: relative;
}

header .navbar-nav .nav-item:hover .nav-link {
  color: #0056a4;
}

header .navbar-nav .nav-item.dropdown {
  position: relative;
}

header .navbar-nav .nav-item.dropdown .nav-link {
  background: #0056a4;
  padding: 0.8rem 2rem;
  line-height: 1;
  color: #ffffff;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 1px solid #0056a4;
}

header .navbar-nav .nav-item.dropdown .nav-link i {
  font-size: 1.4rem;
}

header .navbar-nav .nav-item.dropdown:hover .nav-link {
  background: none;
  border-bottom: 1px solid #ffffff;
  color: #000000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

header .navbar-nav .nav-item .dropdown-menu {
  -webkit-box-shadow: 0 0 0.5rem 0.2rem rgba(53, 53, 53, 0.2);
          box-shadow: 0 0 0.5rem 0.2rem rgba(53, 53, 53, 0.2);
  background: #ffffff;
  padding: 1rem 0;
  top: 5rem;
  width: 23rem;
  display: none;
}

header .navbar-nav .nav-item .dropdown-menu::after {
  content: '';
  height: 2rem;
  top: -2rem;
  left: 0;
  width: 100%;
  background: transparent;
  display: inline-block;
  position: absolute;
}

header .navbar-nav .nav-item .dropdown-menu.dropdownshow {
  width: 53.5rem;
}

header .navbar-nav .nav-item .dropdown-menu.megamenu {
  display: block;
}

header .navbar-nav .nav-item .dropdown-menu .second-level {
  width: 23rem;
  display: inline-block;
  vertical-align: top;
}

header .navbar-nav .nav-item .dropdown-menu .second-level .thirdlevel {
  display: none !important;
}

header .navbar-nav .nav-item .dropdown-menu .third-level {
  width: 30rem;
  display: none;
  border-left: 1px solid #dddddd;
  min-height: 19rem;
}

header .navbar-nav .nav-item .dropdown-menu .third-level.show {
  display: inline-block;
}

header .navbar-nav .nav-item .dropdown-menu .third-level a {
  padding: 0.7rem 2rem;
}

header .navbar-nav .nav-item .dropdown-menu .third-level h3 {
  padding: 0 2rem 1rem;
  font-weight: 300;
  font-size: 2.4rem;
}

header .navbar-nav .nav-item .dropdown-menu ul li a {
  padding: 1rem 2rem;
  display: block;
  color: #000000;
  font-size: 1.4rem;
}

header .navbar-nav .nav-item .dropdown-menu ul li a i {
  float: right;
}

header .navbar-nav .nav-item .dropdown-menu ul li a:hover {
  background: #f5f7fa;
}

header .form-inline {
  width: 17rem;
  display: inline-block;
  border-bottom: 1px solid #dddddd;
}

header .form-inline input {
  border: none;
  border-radius: 0;
  padding: 0.5rem 0 0;
  font-size: 1.4rem;
}

header .form-inline input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .form-inline .input-group-text {
  padding: 0;
  background: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  margin-left: 3px;
}

header .form-inline .input-group-text span {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #a8a8a8;
  border-radius: 50%;
  position: relative;
}

header .form-inline .input-group-text span::after {
  content: '';
  width: 8px;
  height: 2px;
  position: absolute;
  bottom: -3px;
  background: #a8a8a8;
  left: -5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.homebanner .container {
  height: 100%;
  position: relative;
}

.homebanner .carousel-item {
  height: 416px;
}

.homebanner .carousel-item .item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.person-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel-caption {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 9rem 0 0;
  bottom: auto;
}

.carousel-caption p {
  font-size: 1.6rem;
}

.carousel-caption p span {
  font-size: 3.5rem;
  display: block;
}

.carousel-caption p em {
  display: block;
}

.carousel-caption p.tabcontent {
  padding: 2rem 0;
  position: relative;
  z-index: 999;
  background: transparent;
}

.carousel-caption .bannercarousal {
  width: 100%;
  max-width: 50rem;
  margin-top: 2.5rem;
}

.carousel-caption .bannercarousal a {
  border-radius: 0.5rem;
  background: #ffffff;
  color: #000000;
  font-size: 1.6rem;
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.carousel-caption .bannercarousal a:hover {
  background: #DC0004;
  color: #ffffff;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  font-size: 3rem !important;
  margin-top: -1.7rem;
  line-height: 1;
  color: #ffffff;
}

.owl-carousel .owl-nav .owl-next.disabled,
.owl-carousel .owl-nav .owl-prev.disabled {
  color: #a8a8a8;
}

.owl-carousel .owl-nav .owl-prev {
  left: -3.5rem;
}

.owl-carousel .owl-nav .owl-next {
  right: -3.5rem;
}

.carousel-indicators {
  bottom: 2.8rem;
}

.carousel-indicators li {
  border-radius: 10rem;
  border: 1px solid #ffffff;
  width: 1.6rem;
  height: 1.6rem;
  background: none;
}

.carousel-indicators li.active {
  background: #DC0004;
}

.category-box {
  height: 40rem;
}

.category-box div {
  display: inline-block;
  width: 27rem;
  height: 27rem;
  margin: 8.5rem auto 0;
  background: #d0d3d6;
  border-radius: 50%;
  line-height: 25rem;
  position: relative;
}

.category-box div span {
  width: 11.6rem;
  height: 11.6rem;
  line-height: 10.5rem;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  margin-left: -5.8rem;
  margin-top: -5.8rem;
  border: 6px solid #d0d3d6;
  color: #ffffff;
}

.category-box div span.education {
  background: -webkit-gradient(linear, left top, right top, from(#0ca461), to(#3fc79c));
  background: linear-gradient(to right, #0ca461 0%, #3fc79c 100%);
  left: 50%;
  top: -5%;
}

.category-box div span.testing {
  background: -webkit-gradient(linear, left top, right top, from(#e77628), to(#fea034));
  background: linear-gradient(to right, #e77628 0%, #fea034 100%);
  left: 103%;
  top: 31%;
}

.category-box div span.training {
  background: -webkit-gradient(linear, left top, right top, from(#bf3a8d), to(#ff52ba));
  background: linear-gradient(to right, #bf3a8d 0%, #ff52ba 100%);
  left: 82%;
  top: 89%;
}

.category-box div span.conference {
  background: -webkit-gradient(linear, left top, right top, from(#4c4ce6), to(#7f7ffa));
  background: linear-gradient(to right, #4c4ce6 0%, #7f7ffa 100%);
  left: 19%;
  top: 90%;
}

.category-box div span.networking {
  background: -webkit-gradient(linear, left top, right top, from(#197488), to(#3cbcd5));
  background: linear-gradient(to right, #197488 0%, #3cbcd5 100%);
  left: -5%;
  top: 33%;
}

.about-aima {
  padding-top: 5rem;
}

.about-aima p {
  line-height: 2.4rem;
}

.btn {
  background: none;
  border-radius: 0.5rem;
  color: #000000;
  font-size: 1.3rem;
  width: 12rem;
  padding: 1rem 2rem;
  display: inline-block;
  line-height: 1;
  text-align: center;
  border: none;
  color: #ffffff;
  background: #DC0004;
}

.btn:hover {
  color: #ffffff;
  background: #B7070A;
}

h2 {
  font-size: 2.3rem;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  margin-bottom: 3rem;
}

h2 span {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1.5rem;
  display: block;
}

h2.h2__white {
  color: #ffffff;
}

.courses-box {
  background: -webkit-gradient(linear, left top, right top, from(#596164), to(#868f96));
  background: linear-gradient(to right, #596164 0%, #868f96 100%);
  border-radius: 0.5rem;
  overflow: hidden;
}

.courses-box figure {
  overflow: hidden;
}

.courses-box figure img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.courses-box p {
  padding: 1.8rem 1.8rem 2rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff;
  position: relative;
  min-height: 24rem;
  margin: 0;
}

.courses-box p span {
  display: block;
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.courses-box p a {
  position: absolute;
  bottom: 2rem;
  left: 1.5rem;
}

.courses-box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.videos-box {
  background: #ffffff;
}

.videos-box figure {
  position: relative;
  cursor: pointer;
}

.videos-box figure .video-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 59px;
  height: 51px;
}

.videos-box p {
  padding: 1.8rem 1.2rem 0;
  color: #000000;
  margin: 0;
}

.videos-box p.title {
  min-height: 12rem;
}

.videos-box p span {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.share .fa {
  color: #a8a8a8;
  display: inline-block;
  border: 1px solid #a8a8a8;
  border-radius: 50%;
  text-align: center;
  line-height: 2.3rem;
  width: 2.3rem;
  height: 2.3rem;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-right: 0;
}

.share .fa.socialpage {
  color: #ffffff;
  border-color: #ffffff;
  font-size: 1.6rem;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
}

.share .fa.fa-facebook {
  border-color: #0f72af;
  background: #0f72af;
  color: #ffffff;
}

.share .fa.fa-twitter {
  border-color: #15b4c9;
  background: #15b4c9;
  color: #ffffff;
}

.share .fa.fa-linkedin {
  border-color: #338ce6;
  background: #338ce6;
  color: #ffffff;
}

.share .fa.fa-youtube {
  border-color: #cf3427;
  background: #cf3427;
  color: #ffffff;
}

.share .fa.fa-android {
  border-color: #359001;
  background: #359001;
  color: #ffffff;
}

.share .fa.fa-apple {
  border-color: #424242;
  background: #424242;
  color: #ffffff;
}

.share .fa.fa-blogger {
  border-color: #e17842;
  background: #e17842;
  color: #ffffff;
}

.share .fa.fa-blogger img {
  vertical-align: top;
  margin-top: 6px;
}

.allshare {
  padding: 1rem 1.2rem;
  color: #000000;
  margin: 0;
}

.allshare div {
  display: inline-block;
  position: relative;
}

.allshare div .allsharelist {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 15rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  display: none;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 3rem rgba(53, 53, 53, 0.3);
          box-shadow: 0 0 3rem rgba(53, 53, 53, 0.3);
}

.allshare div .allsharelist a {
  padding: 0.2rem;
  display: block;
  color: #000000;
}

.allshare div .allsharelist a img {
  width: 1.5rem;
  display: inline-block;
  margin-right: 1rem;
}

.allshare div .allsharelist a:hover {
  background: #f5f7fa;
}

.allshare div:hover .allsharelist {
  display: block;
}

.event-list {
  width: 100%;
  padding: 0.5rem 0;
  background: #ffffff;
  position: relative;
}

.event-list ul {
  width: 100%;
  height: 30rem;
  overflow: auto;
  display: inline-block;
}

.event-list ul li {
  position: relative;
  border-bottom: 2px solid #f5f7fa;
  min-height: 10.1rem;
  padding: 1rem 2rem 1rem 12rem;
  color: #404f56;
  font-size: 1.2rem;
}

.event-list ul li i {
  font-size: 1.4rem;
}

.event-list ul li span.date {
  position: absolute;
  height: 100%;
  width: 10rem;
  left: 0;
  top: 0;
  background: #20a8d8;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  padding: 2.5rem 0;
  line-height: 1;
  text-transform: uppercase;
}

.event-list ul li span.date span {
  font-size: 2.4rem;
  font-weight: 300;
  display: block;
  margin-top: 0.5rem;
}

.event-list ul li span.title {
  font-size: 1.4rem;
  color: #000000;
  display: block;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.event-list ul li a {
  font-size: 1.4rem;
  color: #DC0004;
}

.event-list::after {
  position: absolute;
  top: 0;
  right: -3rem;
  background: #ffffff;
  content: '';
  width: 3rem;
  height: 100%;
}

.seeevents {
  margin-top: 2rem;
  background: #DC0004;
  color: #ffffff;
  padding: 1rem 3.5rem 1rem 2rem;
  display: inline-block;
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
  line-height: 1;
}

.seeevents:hover {
  color: #ffffff;
  background: #B7070A;
}

.seeevents::after {
  position: absolute;
  top: -1rem;
  right: -0.6rem;
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 1.5rem;
  height: 2rem;
  z-index: 1;
  content: '';
}

.training figure {
  margin-bottom: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  width: 25.5rem;
  height: 25.5rem;
  display: inline-block;
  border: 3px solid #ffffff;
}

.training figure img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.training figure:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.training h3 {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.training p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.events {
  background: #ffffff url("../images/events-bg.jpg") 0 12rem repeat-x;
  min-height: 55rem;
}

.interact {
  background-image: url("../images/interact-bg.jpg");
  height: 40rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.interact .interact--block {
  display: block;
  min-height: 20.8rem;
  padding: 3rem 2.5rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
  background-position: bottom right;
  background-repeat: no-repeat;
  color: #000000;
}

.interact .interact--block.interact__subscribe {
  background-image: url("../images/interact-1.png");
}

.interact .interact--block.interact__join {
  background-image: url("../images/interact-2.png");
}

.interact .interact--block.interact__results {
  background-image: url("../images/interact-3.png");
}

.interact .interact--block:hover {
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.7);
}

footer {
  padding: 5rem 0 0;
}

footer h3 {
  color: #3989c4;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

footer ul li {
  margin-bottom: 1rem;
  display: block;
}

footer ul li a {
  color: #000000;
  font-size: 1.3rem;
}

.footer-bootom {
  background: #212122;
  padding: 1.2rem 0;
  margin-top: 3.5rem;
}

.footer-bootom .allshare {
  padding: 0;
}

.footer-bootom ul li {
  display: inline-block;
  line-height: 3rem;
  color: #a8a8a8;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.footer-bootom ul li a {
  color: #a8a8a8;
  border-right: 1px solid #a8a8a8;
  padding: 0 0.5rem;
  font-size: 1.3rem;
}

.footer-bootom ul li:last-child a {
  border-right: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.videopopup {
  position: fixed;
  z-index: 1000;
  width: 80rem;
  margin-left: -40rem;
  height: 45rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 50%;
  display: block;
  border: 1px solid #a8a8a8;
  background-size: cover;
}

.videopopup iframe {
  width: 100%;
  height: 448px;
}

.videopopup .closepopup {
  position: absolute;
  top: -5rem;
  right: 0;
  font-size: 4rem;
  z-index: 1;
  color: #ffffff;
  line-height: 1;
}

.thumbs .slick-slide div div {
  position: relative;
  border-bottom: 2px solid #f5f7fa;
  min-height: 10.1rem;
  padding: 1rem 2rem 1rem 12rem;
  color: #000;
  font-size: 1.2rem;
  background: #ffffff;
}

.thumbs .slick-slide div div i {
  font-size: 1.4rem;
}

.thumbs .slick-slide div div span.date {
  position: absolute;
  height: 100%;
  width: 10rem;
  left: 0;
  top: 0;
  background: #20a8d8;
  color: #ffffff;
  font-size: 1.6rem;
  text-align: center;
  padding: 2.5rem 0;
  line-height: 1;
  text-transform: uppercase;
}

.thumbs .slick-slide div div span.date span {
  font-size: 3.6rem;
  font-weight: 300;
  display: block;
}

.thumbs .slick-slide div div span.title {
  font-size: 1.4rem;
  color: #000000;
  display: block;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.thumbs .slick-slide div div a {
  font-size: 1.4rem;
  color: #DC0004;
}

.thumbs .slick-slide.slick-current div div {
  background: #a8a8a8;
}

.slideshow {
  margin-top: 2.5rem;
}
/*# sourceMappingURL=main.css.map */